<div class="sidebar" data-background-color="white" data-active-color="danger">

        <!--
            Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
            Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
        -->

        <div class="sidebar-wrapper" style="background: #b8d8d8">
            <div class="logo">
                <a href="http://www.creative-tim.com" class="simple-text">
                    Tareas a realizar
                </a>
            </div>

            <ul class="nav">
                 <li>
                    <a href="table.html">
                        <i class="ti-view-list-alt"></i>
                        <p>Ver actividades</p>
                    </a>
                </li>
                <li>
                    <a href="user.html">
                        <i class="ti-user"></i>
                        <p>Registrar expositor</p>
                    </a>
                </li>
                <li>
                    <a href="user.html">
                        <i class="ti-user"></i>
                        <p>Registrar alumno</p>
                    </a>
                </li>
                 <li>
                    <a href="table.html">
                        <i class="ti-trash"></i>
                        <p>Dar de baja maestro</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
